.footer {
  max-width: 100%;
  min-height: 337px;
  background: #111111;
  border-top: 2px solid #3a3939;
}

.footer--logo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

.footer .svg_logo {
  fill: #d1d1d1;
}

.footer .riotbar-copyright {
  font-family: "FF Mark W05";
  font-weight: 500;
  font-size: 11px;
  line-height: 1.316;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  color: #7e7e7e;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  word-break: keep-all;
}

.footer .riotbar-legal-links {
  margin-top: 3.5rem;
}

.footer .riotbar-legal-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .riotbar-legal-links li a {
  display: block;
  margin: 0 5px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: underline;
  color: #7e7e7e;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer .riotbar-game-ratings {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.footer .riotbar-game-ratings a {
  margin: 0 .7rem 0;
}

.section {
  border-top: 10px solid #bb9d60;
  width: 100%;
}

.section .hesfsfe {
  width: 85%;
  position: absolute;
  border: 5px solid #bb9d60;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section .hesfsfe #video {
  width: 100%;
  max-height: 100vh;
  min-height: 75vh;
}

.section .scoll {
  display: none;
}

.section_one {
  position: relative;
  width: 100%;
  z-index: 1;
  height: auto;
}

.section_one img {
  z-index: -1;
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_container {
  padding-left: 2rem;
  position: absolute;
  top: 20%;
  left: 10%;
  -webkit-transform: translate(-10%, 20%);
          transform: translate(-10%, 20%);
}

.section_container {
  text-align: left;
}

.section_container h3 {
  font-size: 3vh;
  color: #f0e6d2;
}

@media (min-width: 1024px) {
  .section_container h3 {
    font-size: 2.5rem;
  }
}

.section_container p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #828f81;
  max-width: 520px;
  line-height: 1em;
}

.section_container span {
  color: #f0e6d2;
  font-weight: 600;
}

.section_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section_information .col {
  position: relative;
  border: 2px solid #bb9d60;
  width: 138px;
  height: 70px;
  margin-right: 2rem;
}

.section_information a {
  color: #0581a9;
  font-weight: 600;
}

.section_information .col::before {
  background: url(../patch/image/thumb_video_play.png) no-repeat scroll 0 0;
  content: " ";
  display: block;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
}

.section .magified {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .row:hover .text_content {
  padding-bottom: 3px;
  text-decoration: underline;
  text-underline-position: under;
}

.section .row:hover .col {
  border-color: #0581a9;
}

.section .row:hover .col::before {
  fill: #0581a9;
}

.section .section_two {
  border-top: 10px solid #bb9d60;
  border-bottom: 10px solid #bb9d60;
  max-height: 686px;
  z-index: 1;
}

.section .section_two--container {
  position: relative;
}

.section .section_two--container--image {
  max-width: 100%;
  height: auto;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.section .section_two--container--image .two_image {
  max-width: 100%;
}

.section .section_two .asdvs {
  width: 100%;
}

.section .section_two--container--menu {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
}

@media screen and (max-width: 32.125em) {
  .section .section_two--container--menu, .section .section_two .image__content {
    display: none;
  }
}

.section .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.section .link {
  font-size: 16px;
  font-weight: 700;
  height: 75px;
  width: 200px;
  color: #4c4941;
}

.section .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section .active {
  position: absolute;
  bottom: 0;
  left: 40%;
  -webkit-transform: translate(-97%);
          transform: translate(-97%);
  height: 15px;
}

.section .active-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .icon {
  color: #bb9d60;
}

.section .image__content {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.section .image__content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  z-index: 1;
  color: white;
}

.section .text_one {
  font-size: 3vw;
  color: #f0e6d2;
}

.section .text_two {
  color: #7b7669;
}

.section .line_show:first-child {
  margin-bottom: 1rem;
}

.section .dsfsaefd {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.9)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, transparent 100%);
}

.section .section_three {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section .three_container--left {
  background-image: url(../patch/image/gameplay_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-right: 2px solid #c3a568;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

.section .three_container--right {
  background-image: url(../patch/image/gameplay_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-left: 2px solid #c3a568;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

.section .bordered {
  border: 3px solid rgba(195, 165, 104, 0.3);
  bottom: 35px;
  left: 35px;
  padding: 35px;
  position: absolute;
  right: 35px;
  top: 35px;
}

.section .caption {
  position: absolute;
  padding: 40px 100px 80px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.5) 100%);
  min-height: 250px;
  bottom: 0;
  width: 100%;
}

.section .caption h2 {
  font-size: 3vw;
  color: #f0e6d2;
  font-weight: 500;
}

.section .caption p {
  color: #948f81;
  text-shadow: 0 0 5px #000;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0 10px;
}

.section .section_four {
  border-top: 10px solid #c3a568;
}

.section .faded {
  position: relative;
}

.section .faded::after {
  content: "";
  position: absolute;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(transparent, #000);
  height: 130px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.section .tagline {
  text-align: center;
  width: 100%;
  min-height: 300px;
  position: relative;
  z-index: 100;
  margin-top: -100px;
}

.section .tagline h3 {
  font-style: normal;
  color: #f0e6d2;
  font-size: 4vw;
  font-family: "Beaufort for LOL";
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.section .tagline h1 {
  font-family: "Beaufort for LOL";
  font-weight: 500;
  font-style: normal;
  color: #c8aa6e;
  font-size: 7vw;
  margin-bottom: 60px;
}

.section .tagline a {
  font-family: "Beaufort for LOL", YuMincho, "Yu Mincho", "MS Mincho", "Hiragino Kaku Gothic ProN", serif;
  max-width: 200px;
  border: 3px solid rgba(192, 252, 253, 0.7);
  padding: 18px 35px 14px;
  background: #1e2328;
  font-size: 1.3rem;
  color: #b8b7ad;
  -webkit-transition: background-color 1s ease-out 100ms;
  transition: background-color 1s ease-out 100ms;
}

.section .tagline::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 130px;
  max-height: 150px;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  margin-top: -100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000));
  background: linear-gradient(to top, #000);
}

.header {
  position: relative;
  width: 100%;
  max-height: 100vh;
  height: 75vh;
  font-family: "Beaufort for LOL",YuMincho,"Yu Mincho","MS Mincho","Hiragino Kaku Gothic ProN",serif;
}

.header video {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  overflow: visible;
  width: 100%;
  z-index: -1;
}

.header--logo {
  position: absolute;
  top: 10%;
  max-width: 65vh;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.header--logo a img {
  max-width: 100%;
  height: 100%;
}

.header_container {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}

.header_container {
  text-align: center;
}

.header_container p {
  font-size: 3vw;
  color: #EDE3CF;
}

.header_container h2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 5vw;
  color: #C8AA6E;
  font-weight: 700;
}

.header_container span {
  font-size: 1.3rem;
  color: #B8B7AD;
}

.header_container a {
  max-width: 200px;
  border: 3px solid rgba(192, 252, 253, 0.7);
  padding: 18px 35px 14px;
  background: #1E2328;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
}

.container {
  max-width: 1349px;
}

.inner {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .header video {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .header video {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header_container {
    padding-top: 4rem;
  }
  .header_container h2 {
    width: 90vmax;
  }
  .header_container a {
    margin-bottom: 4rem;
  }
  .section_three {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .caption {
    bottom: -10vh !important;
  }
  .section .three_container--left {
    border-bottom: 1rem solid #c3a568;
  }
  .section .three_container--right {
    border-left: none;
  }
}

@media screen and (max-width: 414px) {
  .header_container {
    padding-top: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */